.updatedriver-container{
      min-width: 100vw;
        min-height: 130vh;
        background-image: url('../../../components/ImagesFol/background4.png');
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(10px);
        position: absolute;
}
.updatedriver-form{
    background-color: rgb(117, 115, 115, 0.2);
}